[submodule "imsane"]
	path = imsane
	url = https://github.com/idse/imsane
[submodule "gptoolbox"]
	path = gptoolbox
	url = https://github.com/alecjacobson/gptoolbox
[submodule "DECLab"]
	path = DECLab
	url = https://www.github.com/dilloncislo/DECLab
